* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.left-container {
  text-align: center;
  margin: 0px;
}
.main-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin: 3px;
  height: 45px;
  border-radius: 8px;
}
.logo-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.brand {
  margin: 3px;
  font-size: 28px;
  font-weight: bold;
}
.chat-area {
  width: 50vw;
  padding: 6px;
}
.user-icon {
  height: 50px;
  border: orange solid 1px;
  border-radius: 50%;
}

.chat-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-text-container {
  display: flex;
  justify-content: left;
  align-items: center;
}
.divider-item {
  margin-top: 15px;
  margin-bottom: 15px;
}
