.login-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #47dad0;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  border-radius: 8px;
  box-shadow: rgba(254, 205, 211, 0.1) 0px 4px 16px,
    rgba(254, 205, 211, 0.1) 0px 8px 24px,
    rgba(254, 205, 211, 0.1) 0px 16px 56px;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-image: url("https://img.freepik.com/premium-vector/shield-with-circuit-background-vector_35913-271.jpg");
  background-size: cover;
  background-position: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  /* background-color: orange; */
}
.form-item {
  background-color: #f8259976;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  padding: 20px;
  border-radius: 12px;
  box-shadow: rgba(239, 51, 198, 0.715) 0px 4px 16px,
    rgba(35, 230, 227, 0.854) 0px 8px 24px,
    rgba(254, 205, 211, 0.1) 0px 16px 56px;
}
.login-text-container {
  height: 30%;
  width: 80%;
  background-color: white;
  border-radius: 8px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-here-text {
  text-decoration: underline;
}
.form-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6%;
}
.form-avatar {
  height: 90px;
  width: 90px;
  background-image: url("https://img.freepik.com/free-vector/cyber-security-concept_23-2148532223.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.avatar-container {
  display: flex;
  justify-content: center;
}
.btns-container {
  display: flex;
  justify-content: center;
}
.btn-item {
  margin: 9px;
}
@media screen and (max-width: 600px) {
  .login-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 600px) {
  .login-container {
    display: flex;
    flex-direction: row;
  }
}
