.quote-card {
  background-color: black;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.time-card {
  background-image: url("https://wallpaperaccess.com/full/3764935.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
