.quote-card {
  background-image: url("https://w0.peakpx.com/wallpaper/371/946/HD-wallpaper-tiger-animal-dark-face-light-wild.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.time-card {
  background-image: url("https://wallpaperaccess.com/full/3764935.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
