.flex-container {
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 100%;
}
.data-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.img-item {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.card-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 25%;
  align-items: center;
}
.area {
  font-weight: bold;
}
.img-item {
  height: 120px;
  width: 120px;
  background-image: url("https://w0.peakpx.com/wallpaper/894/476/HD-wallpaper-panther-black-jaguar-wild-cat-black-panther-dangerous-animals-panther-on-a-black-background.jpg");
  background-size: cover;
  background-position: center;
}
/* lnavuluri@gmail.com */
